

.name {
  background-color: pink;
}

.linkname{
  background-color: red;
  margin-right: 60px;
  margin-left: 60px;
}

@media (max-width: 576px) {
  .name {
    text-align: center;
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .linkname {
    background-color: blue;
    margin-right: 30px;
    margin-left: 10px;
  }
}

@media (min-width: 1024px) {
  .linkname {
    background-color: red;
    margin-right: 70px;
    margin-left: 10px;
  }
}
