.name {
  background-color: pink;
}

.linkname{
  margin-right: 60px;
  margin-left: 60px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-colour: #eee;
}

@media (max-width: 576px) {
  .name {
    text-align: center;
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .linkname {
    margin-right: 30px;
    margin-left: 10px;
  }
}

@media (min-width: 1024px) {
  .linkname {
    margin-right: 70px;
    margin-left: 10px;
  }
}
